.addHome{
  margin-bottom: 50px;

}

.homeDetailImage{
  margin-top: 0;
  padding: 0;
  /* width: 800px !important; */
}

.homeDetailImage img{
  border-radius: 15px;
  padding: 5px;
  margin-left: 5px;

}

.homeDetailImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;

}
.homeDetailImage > img {
  display: inline-block;
  margin-top: 50px;
}

.offers{
  display: flex;
  width: 600px;
  margin-top: 50px;
}


.imageDetail{
  margin-left: 100px;
  margin-top: 100px;
}

.detailsinfo{
  width: 400px;
  margin-left: 120px;
  margin-top: 50px;

}

.description{
  margin-top: 20px;
  margin-left: 120px;
}

.back{
  margin-top: 20px;
  margin-left: 120px;
}
