.icons{
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-gap: 50px;
  font-size: 50px;
  padding-left: 40px;
  padding-right: 50px;
  margin-top: 20px;
  position: sticky;
  top: 90px;
  background-color: white;
}

.icon p{
  font-size: 10px;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .icon { display: none; }
}

@media only screen and (min-width: 1200px) {
  .icons{
    display: flex;
    justify-content: space-between;
  }
}
