#root{
  background-color:  #e7eaf6;
}

.container{
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  margin-top: 40px;

}

.info h4{
  color: black;
  text-decoration-line: none;
  font-size: 20px;
  margin-left: 45px;
}

.info h5{
  text-decoration-line: none;
  font-size: 15px;
  color:grey;
  margin-left: 45px;
}

@media only screen and (max-width: 600px) {
  .item img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    font-display: grid;
    grid-template-columns: 1fr;
    margin-left: 40px;
    justify-content: center;
  }


}

@media only screen and (min-width: 600px) {
  .item img{
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 40px;
  }

}

@media only screen and (min-width: 768px) {
  .item img{
    font-display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 70px;
  }

  .info h4{
    color: black;
    text-decoration-line: none;
    font-size: 20px;
    margin-left: 75px;
  }

  .info h5{
    text-decoration-line: none;
    font-size: 15px;
    color:grey;
    margin-left: 75px;
  }
}

@media only screen and (min-width: 992px) {
  .item img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 45px;
  }

}

@media only screen and (min-width: 1200px) {
  .item img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 45px;
  }

}
