


.reserveButton button{
  background-color: #2772db;
  width: 250px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
  border: none;
}

.reserveButton button:hover{
  background-color: #0092ca;
}

.reservation{
  padding-top: 60px;
  width: 250px;
  height: 250px;
  margin-left: 20px;

}

.reserveButton{
  padding-top: 30px;

}

.reserveInfos{
  margin-bottom: 80px;
}
